@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1320px)
	/**/
	.advantages__text
		padding: 0 5px 40px 5px
	.advantages .slider-item
		padding: 0 5px



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	h3 
		font-size: 17px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.header .container-fluid li
		margin-left: 30px
	.header .header__sub-menu
		li 
			margin-left: 0
			width: 120px
	.about 
		.container-fluid
			padding-top: 29.283vw
			border-radius: 10px
		.about__content 
			max-width: 100%
	.products__tab
		padding: 0 50px
	.product__content
		max-width: 100%
	.product-image
		width: 44vw
	.advantages__text
		padding: 0 15px 40px 15px
	.advantages .slider-item
		padding: 0 20px
		margin-left: -50px
	.advantages
		.container-fluid 
			width: 100% 
			max-width: 100%
	.slider-wrapper
		padding-left: 20px
	.footer-content
		flex-direction: column
		align-items: flex-start
	.footer__menu
		.footer__menu-col
			margin-bottom: 39px
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.container-fluid 
		max-width: 93.458vw
	.header__menu
		display: none
	.header__menu 
		position: absolute 
		width: 100% 
		background: red
		top: 100%
		left: 0%
		background: #fff
		padding: 0 3vw
		padding-top: 40px

		ul 
			flex-direction: column
			li
				span 
					position: relative 
				span:after
					content: url('../img/down-arrow.png')
					position: absolute 
					right: 0
					top: 50% 
					transform: translateY(-30%)
					transition: all 0.5s
				span.active:after
					transform: translateY(-60%) rotate(-180deg)


	.header .container-fluid li:hover .header__sub-menu 
		display: none

	.header .header__sub-menu
		position: static
		transform: translateX(0%) translateY(0%)
		padding: 0 
		box-shadow: none 
		border-radius: 0
		padding-left: 5vw
		padding-top: 15px
		li 
			width: 100% 
			a 
				align-items: flex-start
				font-size: 14px
				img 
					display: none
	.header .container-fluid li 
		margin-left: 0
	.header 
		.container-fluid 
			border-bottom: 2px solid $red
	.logo
		padding: 2px
		left: 0
		bottom: -0.3px		
		img 
			width: 20vw
	.header-line
		display: none

	.header__menu-btn
		display: block
		.btn-row
			width: 4.984vw
			height: 0.623vw
			background: #000
			display: block
			margin-bottom: 0.623vw
	.header .container-fluid
		padding: 6.231vw 2.181vw
	.main-screen
		.container-fluid
			min-height: 80.997vw

	h1 
		font-size: 14.545vw
		font-weight: 400
	h2 
		font-size: 7.611vw
	body 
		font-size: 3.738vw
	.main-screen p
		max-width: 75vw
	.button 
		width: 43.614vw 
		min-height: 7.788vw
		font-size: 3.804vw
	.main-screen .button
		margin-top: 3.115vw
	.main-screen
		.container-fluid 
			padding-top: 8vw
	.main-screen .container-fluid
		border-bottom-left-radius: 10px 
		border-bottom-right-radius: 10px 
	.about 
		margin-top: 3.115vw
		margin-bottom: 16.822vw
		.container-fluid 
			background-size: 100% !important
			min-height: auto
		.about__content
			padding: 10.903vw
			margin-bottom: 0
	.product__tabs
		display: none
	.product-photo
		width: 35vw
	.product__tab-content-item:nth-child(2)
		.product-photo
			width: 78vw
			transform: translateX(-70%) translateY(-47%)
	.product__tab-content-item
		margin-top: 30px
	.product-bg
		margin-bottom: 2.813vw
	.products h2
		margin-bottom: 6vw
	.product__tab-content-item
		display: block
	.product__tab-content-item:nth-child(3)	
		.product-photo
			width: 45vw
	.product__tab-content-item:nth-child(4)
		margin-top: 45px
		.product-photo
			width: 23vw
	.product__tab-content-item:first-child
		.product-photo
			width: 40vw
	.product__name
		margin-top: 7.188vw
		margin-bottom: 6.250vw
		line-height: 1
	.product__tab-content-item .button
		margin-top: 7.813vw
	.product__tab-content .product__tab-content-item
		margin-top: 8.438vw
	.product__tab-content .product__tab-content-item
		display: block
		padding-bottom: 5vw 
		border-bottom: 1px solid #d2d2d2
	.product__tab-content .product__tab-content-item:nth-child(4)
		margin-top: 16vw
	.product__tab-content-item
		max-width: 100%
		width: 100%
	.advantages__text
		padding: 0 2.5vw 6.875vw 2.5vw
	.advantages .slider-item
		padding: 0 6.250vw
		margin-left: -6vw
	.advantages
		h3 
			margin-bottom: 5.938vw
		.advantages__item-content 
			p 
				font-size: 2.931vw
		.container-fluid 
			width: 100% 
			max-width: 100%
	.slider-wrapper
		padding-left: 7.813vw
	h3 
		font-size: 3.906vw
	.advantages-icon
		margin-top: 4.688vw
		margin-bottom: 4.688vw
	.advantages h2
		margin-bottom: 7.188vw
		margin-top: 7.188vw
	.product__tab-content .product__tab-content-item:last-child 
		border-bottom: none
	.recipes__content-text
		position: static
		width 100%
		max-width: 100%
		min-width: 100%
		transform: translateY(4vw)
		p 
			display: none
	.recipes__content .recipe-img
		z-index: -1
		position: relative
		transform: translateY(1vw)
	.advantages
		padding-bottom: 12vw
	.recipes
		h2
			margin-bottom: 6.250vw
		.button 
			margin-top: 0
	.recipes__content-text
		padding: 10.625vw
	.footer-logo 
		margin-left: 0
		padding: 2px
		margin-top: -2px
		img 
			width: 20vw
	.footer .container-fluid 
		border-top: 2px solid $red
	.footer__menu
		flex-wrap: wrap
		.footer__menu-col
			margin-bottom: 39px
			width: 40%
		.footer__menu-col:first-child 
			width: 100%
		.footer__menu-col:nth-child(2) 
			width: 60%
	.footer 
		padding-bottom: 0
	.footer-content
		transform: translateY(-20px)




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/





